extends ../shared/baseView

block main-content
    .well
        form(method="post")
            label(for="username") Username
            input(id="username", class="form-control", type="text", name="username", placeholder="Username")
            br
            label(for="password") Password
            input(id="password", class="form-control", type="password", name="password", placeholder="Password")
            br
            label(for="confirm-password") Confirm Password
            input(id="confirm-password", class="form-control", type="password", name="confirmPassword", placeholder="Confirm password")
            br
            label(for="firstname") First name
            input(id="firstname", class="form-control", type="text", name="firstName", placeholder="First name")
            br
            label(for="lastname") Last name
            input(id="lastname", class="form-control", type="text", name="lastName", placeholder="Last name")
            br
            label(for="email") Email address
            input(id="email", class="form-control", type="email", name="email", required, placeholder="email")
            br
            label(for="picture") Avatar
            input(id="picture", class="form-control", type="text", name="picture", placeholder="Link to avatar")
            br
            label(for="youtube") YouTube
            input(id="youtube", class="form-control", type="text", name="youtube", placeholder="YouTube")
            br
            label(for="facebook") Facebook
            input(id="facebook", class="form-control", type="text", name="facebook", placeholder="Facebook")
            br
            button(type="reset", class="btn btn-danger") Cancel
            input(type="submit", class="btn btn-md btn-primary", value="Register")