extends layout

block content
    .nav.navbar-nav.navbar-right
        form.navbar-form
            .form-group
                 input.form-control(type="text", required, placeholder="E-mail")
                 input.form-control( type="password", required, placeholder="Password")
                 button.btn.btn-primary Login
                   // a.btn.btn-primary(href="#/register") Register

