body {
    color: #0094FF;
    font-size: 18px;
    font-family: Consolas, Arial;
}

p:first-line {
    line-height: 2em;
    font-weight: bold;
}

p:first-letter {
    font-family: "Edwardian Script ITC";
    font-size: 4em;
}

@font-face {
    font-family: Edwardian Script ITC;
    src: url('fonts/Edwardian_Scr_ITC_TT.ttf');
}