@model SimpleInformationSite.Models.Owner

<div class="row">
    <div class="col-md-3">Name</div>
    <div class="col-md-5">@Model.Name</div>
</div>
<div class="row">
    <div class="col-md-3">Age</div>
    <div class="col-md-5">@Model.Age</div>
</div>
<div class="row">
    <div class="col-md-3">Shops</div>
    <div class="col-md-5">@Model.ShopsOwnded</div>
</div>
