<div class="jumbotron text-center" ng-controller="UserInfoCtrl">
    <div class="row">
        <div class="col-md-6"><strong class="pull-right">Email: </strong></div>
        <div class="col-md-6"></div>
        <div class="col-md-6"><strong class="pull-left">{{info.email}}</strong></div>
        <div class="col-md-6"><strong class="pull-right">Am I driver? </strong></div>
        <div class="col-md-6"></div>
        <div class="col-md-6"><strong class="pull-left">{{info.isDriver | isDriver}}</strong></div>
        <div class="col-md-6"><strong class="pull-right">Car: </strong></div>
        <div class="col-md-6"></div>
        <div class="col-md-6"><strong class="pull-left">{{info.car}}</strong></div>
    </div>
    <div class="row"><p><a class="btn btn-primary btn-sm" href="#/">Back</a></p></div>
</div>