@model MoviesSystem.Models.Actor

@{
    ViewBag.Title = "Details";
}

<h2>Update</h2>

@using (Ajax.BeginForm("Update", new { id = Model.Id },
                new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnSuccess = "MyRedirect" }))
{
    <div>@Html.EditorFor(x => x.Name, new { @class = "form-control" })</div>
    <div> @Html.EditorFor(x => x.Age, new { @class = "form-control" })</div>
    <input type="submit" value="Save" class="btn btn-success" />
    <input type="reset" value="Cancel" class="btn btn-primary" />
}

<script>
    function MyRedirect(data) {
        window.location.href = data;
    }
</script>

