doctype
html(lang="en")
    head
        meta(charset="utf-8")
        title Grunt Homework
        link(rel="stylesheet" href="styles/main.css")
    body
        h1 Server is running
        img(src='images/desert.jpg')

    script(type="application/javascript" src="/scripts/app.js")
