<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Tree View</title>
    <link href="styles/main.css" rel="stylesheet" />
</head>
<body>
    <ul>
        <li><a href="#">List Item</a>
            <ul class="sub">
                <li>Sublist Item</li>
                <li>Sublist Item</li>
                <li>Sublist Item</li>
                <li>Sublist Item</li>
            </ul>
        </li>
        <li>
            <a href="#">List Item</a>
            <ul class="sub">
                <li>Sublist Item</li>
                <li>Sublist Item</li>
                <li>Sublist Item</li>
                <li>Sublist Item</li>
            </ul>
        </li>
        <li>
            <a href="#">List Item</a>
            <ul class="sub">
                <li>Sublist Item</li>
                <li>Sublist Item</li>
                <li>Sublist Item</li>
                <li>Sublist Item</li>
            </ul>
        </li>
        <li>
            <a href="#">List Item</a>
            <ul class="sub">
                <li>Sublist Item</li>
                <li>Sublist Item</li>
                <li>Sublist Item</li>
                <li>Sublist Item</li>
            </ul>
        </li>
    </ul>
</body>
</html>
