USE [master]
GO
/****** Object:  Database [Company]    Script Date: 18.10.2015 г. 15:26:15 ч. ******/
CREATE DATABASE [Company]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Company', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL\MSSQL\DATA\Company.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Company_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL\MSSQL\DATA\Company_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Company].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Company]
GO
/****** Object:  Table [dbo].[DEPARTMENTS]    Script Date: 18.10.2015 г. 15:26:15 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENTS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DEPARTMENTS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EMPLOYEES]    Script Date: 18.10.2015 г. 15:26:15 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEES](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [nvarchar](20) NOT NULL,
	[lastName] [nvarchar](20) NOT NULL,
	[yearSalary] [money] NOT NULL,
	[managerId] [int] NULL,
	[departmentId] [int] NOT NULL,
 CONSTRAINT [PK_EMPLOYEES] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PROJECTS]    Script Date: 18.10.2015 г. 15:26:15 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROJECTS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PROJECTS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PROJECTS_EMPLOYEES]    Script Date: 18.10.2015 г. 15:26:15 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROJECTS_EMPLOYEES](
	[EmployeeId] [int] NOT NULL,
	[ProjectId] [int] NOT NULL,
	[startDate] [datetime] NOT NULL,
	[endDate] [datetime] NOT NULL,
 CONSTRAINT [PK_PROJECTS_EMPLOYEES] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC,
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[REPORTS]    Script Date: 18.10.2015 г. 15:26:15 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REPORTS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[timeSent] [datetime] NOT NULL,
	[employeeId] [int] NOT NULL,
 CONSTRAINT [PK_REPORTS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_DEPARTMENTS]    Script Date: 18.10.2015 г. 15:26:15 ч. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DEPARTMENTS] ON [dbo].[DEPARTMENTS]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMPLOYEES]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEES_DEPARTMENTS] FOREIGN KEY([departmentId])
REFERENCES [dbo].[DEPARTMENTS] ([Id])
GO
ALTER TABLE [dbo].[EMPLOYEES] CHECK CONSTRAINT [FK_EMPLOYEES_DEPARTMENTS]
GO
ALTER TABLE [dbo].[EMPLOYEES]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEES_EMPLOYEES] FOREIGN KEY([managerId])
REFERENCES [dbo].[EMPLOYEES] ([Id])
GO
ALTER TABLE [dbo].[EMPLOYEES] CHECK CONSTRAINT [FK_EMPLOYEES_EMPLOYEES]
GO
ALTER TABLE [dbo].[PROJECTS_EMPLOYEES]  WITH CHECK ADD  CONSTRAINT [FK_PROJECTS_EMPLOYEES_EMPLOYEES] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[EMPLOYEES] ([Id])
GO
ALTER TABLE [dbo].[PROJECTS_EMPLOYEES] CHECK CONSTRAINT [FK_PROJECTS_EMPLOYEES_EMPLOYEES]
GO
ALTER TABLE [dbo].[PROJECTS_EMPLOYEES]  WITH CHECK ADD  CONSTRAINT [FK_PROJECTS_EMPLOYEES_PROJECTS] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[PROJECTS] ([Id])
GO
ALTER TABLE [dbo].[PROJECTS_EMPLOYEES] CHECK CONSTRAINT [FK_PROJECTS_EMPLOYEES_PROJECTS]
GO
ALTER TABLE [dbo].[REPORTS]  WITH CHECK ADD  CONSTRAINT [FK_REPORTS_EMPLOYEES] FOREIGN KEY([employeeId])
REFERENCES [dbo].[EMPLOYEES] ([Id])
GO
ALTER TABLE [dbo].[REPORTS] CHECK CONSTRAINT [FK_REPORTS_EMPLOYEES]
GO
ALTER TABLE [dbo].[DEPARTMENTS]  WITH CHECK ADD  CONSTRAINT [CK_DepNameLen] CHECK  ((len([Name])>(9)))
GO
ALTER TABLE [dbo].[DEPARTMENTS] CHECK CONSTRAINT [CK_DepNameLen]
GO
ALTER TABLE [dbo].[EMPLOYEES]  WITH CHECK ADD  CONSTRAINT [CK_EMPFnameLen] CHECK  ((len([firstName])>(4)))
GO
ALTER TABLE [dbo].[EMPLOYEES] CHECK CONSTRAINT [CK_EMPFnameLen]
GO
ALTER TABLE [dbo].[EMPLOYEES]  WITH CHECK ADD  CONSTRAINT [CK_EMPlnameLen] CHECK  ((len([lastName])>(4)))
GO
ALTER TABLE [dbo].[EMPLOYEES] CHECK CONSTRAINT [CK_EMPlnameLen]
GO
ALTER TABLE [dbo].[PROJECTS]  WITH CHECK ADD  CONSTRAINT [CK_PROJNameLen] CHECK  ((len([Name])>(4)))
GO
ALTER TABLE [dbo].[PROJECTS] CHECK CONSTRAINT [CK_PROJNameLen]
GO
USE [master]
GO
