@model IEnumerable<MoviesSystem.Models.Movie>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-2">
            @item.Title
        </div>

        @Ajax.ActionLink("Info", "GetTitleById", "Movies", new { id = item.Id },
        new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "movie-content",
            HttpMethod = "POST"
        })
        
    </div>
}
<div id="movie-content"></div>