<form class="form-horizontal">
    <div class="form-group form-group-sm">
        <label class="col-sm-2 control-label" for="thread-id-message">Submit to thread  with ID:</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" id="thread-id-message" placeholder="Thread ID">
        </div>
    </div>
    <div class="form-group form-group-lg">
        <label class="col-sm-2 control-label" for="new-message">Answer:</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" id="new-message" placeholder="Your answer here...">
        </div>
    </div>
    <div class="form-group form-group-sm">
        <button class="btn btn-warning col-lg-1 btn-sm" id="submit-new-message-btn" style="margin-left: 250px">SUBMIT</button>
    </div>
</form>