<textarea class="form-control" rows="3" placeholder="Enter title..." id="new-thread-title"></textarea>
<div class="col-md-12">
    <button class="btn btn-warning col-lg-1 btn-sm" id="post-new-thread-btn">POST</button>
</div>