<textarea id="new-thread-title" class="form-control" rows="3" placeholder="Enter title..."></textarea>
<div class="col-md-12">
    <button class="btn btn-danger col-lg-1 btn-sm" id="post-new-thread-btn">POST</button>
</div>