<form class="form-inline" style="padding-left: 18px; margin-top: 20px">
    <div class="form-group">
        <input type="text" class="form-control" id="thread-id" placeholder="ID">
    </div>
    <button class="btn btn-success" id="thread-by-id-btn">Search by ID</button>
</form>
<div style="height: 20px"></div>
<div class="col-md-12">
    <button class="btn btn-primary col-lg-2" id="show-all-threads-btn">SHOW ALL</button>
</div>
<div style="height: 20px"></div>
<div class="col-md-12" style="margin-top: 10px">
    <button class="btn btn-danger col-lg-2 btn-lg" id="post-thread-btn">POST NEW THREAD</button>
</div>
<div class="grid-container" style="margin-top: 10px"></div>

