<table class="table table-hover table table-bordered">
    <thead>
    <tr>
        <th class="alert-danger">Username</th>
        <th class="alert-danger">ID</th>
    </tr>
    </thead>
    {{#each this}}
        <tr class="active">
            <td class="success col-sm-2">{{username}}</td>
            <td class="success col-sm-2">{{id}}</td>
        </tr>

    {{/each}}
</table>
