html {
    width: 960px;
    font-family: 'Courier New', Courier, 'Nimbus Mono L', monospace;
    font-size: 16px;
    background-color: #e2e2e2;
}

#wrapper {
    background-color: white;
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    position: absolute;
    left: 500px;
    top: 300px;
}

.menu {
    list-style-type: none;
    margin-left: -45px;
    position: relative;
    display: inline-table;
}

.menu:after {
    content: "";
        clear: both;
        display: block;
}

.menu>li {
    float: left;
    margin-left: 5px;
}

.menu>li>a {
    border: 1px solid black;
    padding: 10px 20px;
}

.content {
    display: none;
}

.menu>li:hover .content {
    display: block;
    position: absolute;

}