html, body {
    font-family: 'Courier New', Courier, 'Nimbus Mono L', monospace;
    font-size: 16px;

}

#wrapper {
    width: 960px;
}

.menu {
    list-style-type: none;
}

.menu>li {
    float: left;
    display: block;
    margin: 5px;
}

.menu>li>a {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    background: #87e0fd; /* Old browsers */
    background: -moz-linear-gradient(top,  #87e0fd 0%, #0655dd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87e0fd), color-stop(100%,#0655dd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #87e0fd 0%,#0655dd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #87e0fd 0%,#0655dd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #87e0fd 0%,#0655dd 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #87e0fd 0%,#0655dd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#0655dd',GradientType=0 ); /* IE6-9 */
}

.menu>li:hover>a {
    font-size: 20px;
    padding: 10px 40px;
}

.content {
    display: none;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    margin: 0 0 0 20px;
    background: #f0f9ff; /* Old browsers */
    background: -moz-linear-gradient(top,  #f0f9ff 0%, #cbebff 47%, #a1dbff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f9ff), color-stop(47%,#cbebff), color-stop(100%,#a1dbff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */

}

.menu>li:hover .content {
    position: absolute;
    display: block;
    z-index: 1;
}

a {
    text-decoration: none;
}

h3 {
    margin-left: 5px;
    text-decoration: underline;
}

div>ul {
    list-style-type: square;
    margin-left: -35px;
}

.content li>a:hover {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}