<div class="well">
    <form class="form-horizontal">
        <fieldset>
            <legend>Share new cookie</legend>
            <div class="form-group" >
                <label for="text-cookie" class="col-sm-2 control-label">Text:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="text-cookie">
                </div>
            </div>
            <div class="form-group">
                <label for="category" class="col-sm-2 control-label">Category:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="category-cookie">
                </div>
            </div>

            <div class="form-group">
                <label for="img-cookie" class="col-sm-2 control-label">Image:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="img-cookie">
                </div>
            </div>
            <div class="pull-right">
                <button id="create-and-save" class="btn btn-primary">Share</button>
                <button type="reset" class="btn btn-default">Cancel</button>
            </div>
        </fieldset>
    </form>
</div>
