<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a href="" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">{{this}}<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>
                <a href="#/logout">Logout</a>
            </li>
        </ul>
    </li>
</ul>
