extends shared/baseView

block greet-content
    .jumbotron.text-center.container-fluid
        h2 Welcome to Telerik video playlist system!
        h3 Enjoy and vote... :)
    .container
        p
        | The site is under construction.......