extends shared/baseView

block main-content
    .jumbotron.text-center.container-fluid
        h1 Welcome to Telerik event system
        h3 Choose your destiny :)
    .container
        p
        | The site is under construction.......