extends ../shared/baseView

block main-content
    form.form-horizontal(method="post")
        fieldset
            legend Create new event
            .form-group
                label(for="title", class="col-lg-2 control-label") Title
                .col-lg-10
                    input(id="title", class="form-control", required, type="text", name="title")
            .form-group
                label(for="category", class="col-lg-2 control-label") Category
                .col-lg-10
                    select(class="form-control", required, name="category", id="category")
                        option Free time
                        option Homework
                        option Teamwork
                        option Preparation
                        option Exam
            .form-group
                label(for="description", class="col-lg-2 control-label") Description
                .col-lg-10
                    input(id="description", class="form-control", required, type="text", name="description")
            .form-group
                label(for="datePicker", class="col-lg-2 control-label") Date
                .col-lg-10
                    input(id="datePicker", class="form-control", required, date-picker, type="text", name="date")
            .form-group
                label(class="col-lg-2 control-label") Position
                .col-lg-10
                    input(id="latitude", type="number", name="latitude", placeholder="latitude")
                    span
                    input(id="longitude", type="number", name="longitude", placeholder="longitude")
            .form-group
                label(for="initiatives", class="col-lg-2 control-label") Initiative
                .col-lg-10
                    select(class="form-control", required, name="initiative", id="initiatives")
                        option Software Academy
                        option Algo Academy
                        option School Academy
                        option Kids Academy
            .form-group
                label(for="seasons", class="col-lg-2 control-label") Season
                .col-lg-10
                    select(class="form-control", required, name="season", id="seasons")
                        option Started 2010
                        option Started 2011
                        option Started 2012
                        option Started 2013
            .form-group
                .col-lg-10.col-lg-offset-2
                    .col-lg-1
                        button(type="reset", class="btn btn-danger") Cancel
                    .col-lg-1
                        input(type="submit", class="btn btn-md btn-primary", value="Create")
                    a(href="/", class="btn btn-info pull-right") Close
block page-scripts
    script(src="js/datepicker.js")