
    <ul id="navigation" >
        <li>
            <a href="#/" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="false">Home</a>
        </li>
        <li>Students
            <ul>
                <li id="get-all-students">
                    <a href="#/all-students" class="btn btn-default">Get all students</a>
                </li>
                <li id="get-student-by-id">
                    <a href="#/get-student-by-id" class="btn btn-default">Search student</a>
                </li>
                <li>
                    <a href="#/add-new-student" class="btn btn-default">Add student</a>
                </li>
            </ul>

        </li>
    </ul>

