extends all-playlists

block eventsList
    table.table.table-striped.table-hover.table-bordered
        thead
            tr
                th Title
                th Category
                th Creator
                th Date
        tbody
            each playlist in data.eventsList
                tr
                    td #{playlist.title}
                    td #{playlist.category}
                    td #{playlist.creatorName}
                    td #{playlist.date}
