extends ../shared/baseView

block main-content
    .container.well
        .row.table
            .col-lg-6 Username
            .col-lg-6 #{current.username}
        .row.table
            .col-lg-6 Id
            .col-lg-6 #{current._id}