extends ../shared/baseView

block main-content
    .container.text-center
        h2 REGISTERED USERS
        table.table.table-striped.table-bordered.table-hover
            thead
                th.text-center Username
                th.text-center ID
            tbody
            for u in usersList
                tr
                    td
                        a(href="/profile/#{u._id}") #{u.username}
                    td
                        a(href="/profile/#{u._id}") #{u.id}


