extends ../shared/baseView

block main-content
    .container.text-center
        h2 REGISTERED USERS
        form(method="post", action="/filter-users")
            .row
                .col-md-3 Order by
                .col-md-3 Order type
                .col-md-3 Search
                .col-md-3
            .row
                .col-md-3
                    select(name="orderBy")
                        option Id
                        option Name
                .col-md-3
                    select(name="orderType")
                        option Ascending
                        option Descending
                .col-md-3
                    input(type="text", name="contains")
                .col-md-3.pull-right
                    input(type="submit", class="btn btn-md btn-info", value="Filter")
            .row(style="height: 10px")
        table.table.table-striped.table-bordered.table-hover
            thead
                th.text-center Username
                th.text-center ID
            tbody
            for u in usersList
                tr
                    td
                        a(href="/profile/#{u._id}") #{u.username}
                    td
                        a(href="/profile/#{u._id}") #{u._id}