extends ../shared/baseView

block  main-content
    .well
        form.form-inline(method="post", action="/filter-events")
            fieldset
                legend.text-center #{groupName} EVENTS
                .form-group
                    label(for="filterBy") Filter by&nbsp;
                    select(name="filterBy", id="filterBy")
                        option(value="created") Created by me
                        option(value="joined") Joined by me
                        option(value="passed") Passed
                .form-group
                    label(for="sortBy") &nbsp;Sort by&nbsp;
                    select(name="sortBy", id="sortBy")
                        option(value="title") Title
                        option(value="category") Category
                        option(value="date") Date
                        option(value="initiative") Initiative
                        option(value="season") Season
                        option(value="organizationPoints") Organization points
                        option(value="venuePoints") Venue points
                .form-group
                    label(for="oderType") &nbsp;Order&nbsp;
                    select(name="orderType", id="oderType")
                        option(value="asc") Ascending
                        option(value="desc") Descending
                .form-group
                    label(for="page") &nbsp;Page&nbsp;
                    input(id="page",type="number", name="page", value="1")
                .form-group
                    label(for="pageSize") &nbsp;Page size&nbsp;
                    input(id="pageSize", type="number", name="pageSize", placeholder="10")
                .row(style="height: 30px")
                .form-group
                    label(for="contains") &nbsp;Search&nbsp;
                    input(id="contains", type="text", name="contains", placeholder="Search.....")
                .form-group
                    label(for="searchIn") &nbsp;in&nbsp;
                    select(name="filterBy", id="searchIn")
                        option(value="created") Titles
                        option(value="joined") Descriptions
                        option(value="passed") All
                .form-group.pull-right
                    input(type="submit", class="btn btn-sm btn-success", value="Filter")
        .row(style="height: 30px")
        block eventsList