@{
    ViewBag.Title = "Index";
}

<h2>All</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Director</th>
            <th>Leading Male Role</th>
            <th>Leading Female Role</th>
        </tr>
    </thead>
    <tbody id="movies"></tbody>
</table>
<ol id="books"></ol>

<script type="text/javascript">
    jQuery(function () {
        jQuery.getJSON("All", "", function (data) {
            jQuery(data).each(function (index, element) {
                var newMovieElement =
                   $("<tr class='book' style='display: none'><td>" + element.Title + "</td><td>" +
                    element.Year + "</td><td>" + element.Director +
                    "</td><td>" + element.LeadingMaleRole + "</td><td>" +
                    element.LeadindFemaleRole + "</td></tr>");







                    //"<li class='book' style='display: none'>" + element.Title + "</li><li class='book' style='display: none'>" + element.Title + "</li>");
                $("#movies").append(newMovieElement);
                newMovieElement.show(1500);
            });
        });
    })
</script>




