extends shared/baseView

block main-content
    .jumbotron.text-center.container-fluid
        h1 Welcome to our file upload system
        h3 Find and store the file u need :)
    .container
        p
        | The site is under construction.......
